#logo {
    height: 5vh;
    float: left;
    margin-top: -12px;
    margin-left: 20px;
}


.header-fixed {
	background-color:#4a4d99;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
	top:-100px;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/*	The header placeholder. It is displayed when the header is fixed to the top of the
	browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder{
	height: 100px;
	display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
	float: left;
	font: normal 36px Georgia, Arial, Helvetica, sans-serif;
	line-height: 40px;
    margin: 0;
    text-shadow: 2px 2px #cca536;
}  

.header-fixed .header-limiter img {
	float: left;
    margin: 0;
}

.header-fixed .header-limiter h1 span {
	color: #cca536 ;
    text-shadow: 2px 2px white;
}

/* The navigation links */

.header-fixed .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-fixed .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 20px;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
	opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
	color: #cca536;
	pointer-events: none;
	opacity: 1;
}

/* Fixed version of the header */

body.fixed .header-fixed {
	padding: 10px 40px;
	height: 60px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

body.fixed .header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 24px;
	line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
}

/* RESPONSIVE HEADER */

@media all and (max-width: 600px) {

	.header-fixed {
		padding: 20px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 6px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 11px;
	}

	body.fixed .header-fixed {
		display: none;
	}


}

/* BEGINNING OF BODY */

body {
    background: #cca536;
	margin: 0;
	padding: 0;
	
    
}

/* HERO */

video {
    min-width: 100%;

    width: 100%;

}

.overlay img {
    opacity: 0.4;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    height: 60%;
    width: 81%;
    position: absolute;
    margin-top: -70vh;
    margin-left: 10vw;
    border-radius: 10px;
    
}

.hero2 {
    position: absolute;
    margin-top: -70vh;
    margin-left: 10vw;
    height: 60vh;
    width: 80vw;
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    font-family: sans-serif;
    display: flex;
    
    
}

.heroinside {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    width: 80vw;
    flex-direction: column;
}

.heroinside h1 {
    color: white;
    font-family: Georgia;
    font-size: 6vh;
    text-align: center;
}

.heroinside h2 {
    color: white;
    font-family: Georgia;
    font-size: 5vh;
    text-align: center;
    margin-top: -20px;
    
}

.heroinside h3 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: -10px;
}

.heroinside h4 {
    color: white;
    font-family: sans-serif;
    font-size: 2.5vh;
    margin-left: 20px;
    text-align: center;
}

.heroinside h5 {
    color: white;
    font-family: sans-serif;
    font-size: 1.5vh;
    text-align: center;
}

/* END OF HERO */


/* BEGINNING OF MAIN */

.main {
    margin-top: -20px;
    background: rgba(204,165,54,0.2);
}

.maininside {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    background: rgba(255,255,255,0.9);
    padding: 20px;
}

.maininside2 {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    background: rgba(255,255,255,0.9);
    padding: 20px;
}

.mainInfo3 {
    padding-left: 325px;  

}

h5#gwTitle {
    width: 80vw;
}

h4#gw {
    width: 250px;
    margin-left: 865px;    
}

#head {
    padding-left: 10px;
    font-family: Georgia;
}

#head2 {
    padding-left: 10px;
    font-family: Georgia;
}

#head3 {
    padding-left: 10px;
    font-family: Georgia;
}

#head h2 {
    
}

#headGW2 {
    padding-left: 10px;
    font-family: Georgia;
}

p {
    font-family: sans-serif;
    font-size: 16px;
    padding-right: 10px;
    padding-left: 10px;
}

img#gwcarver {
    float: left;
    margin: 20px;
}

img#grangelogo {
    float: right;
}

img#aboutpage {
    
}

img#aboutpage2 {
    float: left;
}

img#event1 {
    float: left;
}

img#event2 {
    float: right;
}

i {
    text-decoration: underline;
}


@media only screen and (max-width: 600px) {
    .maininside {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .maininside2 {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    img#aboutpage {
        width: 80%;
        height: 80%;
    }
    
    .main2 {
    display: block;
    margin-top: -700px;
    background: rgba(204,165,54,0.2);
    }
    
    h5#gwTitle {
    width: 80vw;
    
    }
}


/* END OF BODY */


/* BEGINNING OF FLEXBOX */

.back2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(204,165,54,0.2);
    height: 100%;
    flex-wrap: wrap;
    
   
}

.indBox {
    flex: 1 1 auto;
    padding: 10px;
    margin: 10px;
    background-color: white;
    text-align: center;
}

#image1 {
    max-width: 100%;
    float: left;
}

/* END OF FLEXBOX */


/* BEGINNING OF FOOTER */

.footer-distributed{
    
	background-color: #4a4d99;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px Georgia;
    padding: 55px 50px;
	
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px Georgia, Arial, Helvetica, sans-serif;
	margin: 0;
    text-shadow: 2px 2px #cca536;
}


.footer-distributed h3 span{
	color:  #cca536;
    text-shadow: 2px 2px white;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}



.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about img{
    height: 80px;
    width: 180px;
	margin: 0px;
    margin-left: -2px;
}


.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
    text-decoration: none;
}

/* RESPONSIVE FOOTER */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px Georgia;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

footer h3 {
    font-family: Georgia;
    font-size: 1.1em;
    text-shadow: 2px 2px #cca536;
}



footer {
        display: block;
        min-height: 100px;
        background: #4a4d99;
        color: white;
        font-family: Georgia;
        font-size: 1em;
        text-align: center;    
}
