.header-fixed {
	background-color:#4a4d99;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
	top:-100px;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

#logo {
    height: 7vh;
    top:8px;;
    position: absolute;
    left: 320px;
    margin-left: 2vw;
}

/*	The header placeholder. It is displayed when the header is fixed to the top of the
	browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder{
	height: 100px;
	display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
	float: left;
	font: normal 36px 'Cookie', Arial, Helvetica, sans-serif;
	line-height: 40px;
    margin: 0;
    text-shadow: 2px 2px #cca536;
}

.header-fixed .header-limiter img {
	float: left;
    margin: 0;
}

.header-fixed .header-limiter h1 span {
	color: #cca536 ;
    text-shadow: 2px 2px white;
}

#logo {
    height: 7vh;
    top:8px;;
    position: absolute;
    left: 320px;
    margin-left: 2vw;
}

/* The navigation links */

.header-fixed .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-fixed .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
	opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
	color: #cca536;
	pointer-events: none;
	opacity: 1;
}

/* Fixed version of the header */

body.fixed .header-fixed {
	padding: 10px 40px;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

body.fixed .header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 24px;
	line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
}


/*SOCIAL MEDIA*/
#fbox {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: white;
    border: 2px solid #4a4d99;
    border-radius: 50px;
    color: black;
}
.fa-facebook {
    font-size: 4em;
    padding-left: 25px;
    line-height: 5vh;
    z-index: -2;
}
#fbox:hover {
    background-color: rgb(59, 89, 152);
    color: white;
}

/*END OF SOCIAL MEDIA*/


/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-fixed {
		padding: 20px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 13px;
	}

	body.fixed .header-fixed {
		display: none;
	}
    
    #logo {
        height: 5vh;
        top:8px;;
        position: absolute;
        left: 10px;
        margin-left: 80vw;
    }

}

/*
	 We are clearing the body's margin and padding, so that the header fits properly.
	 We are also adding a height to demonstrate the scrolling behavior. You can remove
	 these styles.
 */


/*BEGINNING OF JUMBOTRON*/

body {
    background: #cca536;
	margin: 0;
	padding: 0;
	height: 1500px;
    
}

video {
    min-width: 100%;

    width: 100%;

}

#transparent1 {
    width: 80%;
    height: 60vh;
    margin-top: 11vh;
    margin-left: 7vw;
    position: absolute;
    background: rgba(255,255,255,0.2);
    font-family: sans-serif;
    border-radius: 10px;
}

img#aboutpage {
    float: right;
}

/*END OF JUMBOTRON*/


/*BEGINNING OF BODY*/
.main {
    margin-top: -20px;
    background: rgba(204,165,54,0.2);
}

.maininside {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    background: rgba(255,255,255,0.9);
    padding: 20px;
}

.mainInfo3 {
    padding-left: 325px;  

}

h4#gw {
    width: 250px;
    margin-left: 865px;    
}

#head {
    padding-left: 10px;
}

#head2 {
    padding-left: 10px;
}

p {
    font-family: sans-serif;
    font-size: 16px;
    padding-right: 10px;
    padding-left: 10px;
}

img#aboutpage {
    float: right;
    margin: 20px;
}

img#aboutpage2 {
    float: left;
}


img#event1 {
    float: left;
}

img#event2 {
    float: right;
}

i {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .maininside {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    img#aboutpage {
        width: 80%;
        height: 80%;
    }
}

/*END OF BODY*/


/*BEGINNING OF FOOTER*/

.footer-distributed{
    
	background-color: #4a4d99;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
    padding: 55px 50px;
	
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', Arial, Helvetica, sans-serif;
	margin: 0;
    text-shadow: 2px 2px #cca536;
}


.footer-distributed h3 span{
	color:  #cca536;
    text-shadow: 2px 2px white;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}



.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about img{
    height: 80px;
    width: 180px;
	margin: 0px;
    margin-left: -2px;
}


.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
    text-decoration: none;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

footer h3 {
    font-family: sans-serif;
    font-size: 1.1em;
    text-shadow: 2px 2px #cca536;
}



footer {
        display: block;
        min-height: 100px;
        background: #4a4d99;
        color: white;
        font-family: sans-serif;
        font-size: 1em;
        text-align: center;    
}
