body .h1,body  .h2,body .h3,body h1,body h2,body h3{
    margin: 0;
    line-height: 5vh;
}

.header-fixed {
	background-color:#4a4d99;
	box-shadow:0 1px 1px #ccc;
	height: 12vh;
	color: #ffffff;
	box-sizing: border-box;
	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*	The header placeholder. It is displayed when the header is fixed to the top of the
	browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder{
	height: 12vh;
	display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
    display: inline-block;
	font: normal 4.5vh Georgia, Arial, Helvetica, sans-serif;
	line-height: 12vh;
    margin: 0;
    margin-left: 5vw;
    text-align: left;
    text-shadow: 2px 2px #cca536;
    white-space: nowrap;
}  

.header-fixed .header-limiter h1 span {
	color: #cca536 ;
    text-shadow: 2px 2px white;
}

/* The navigation links */

.header-fixed .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

#mobileNav{
    display: none;
    z-index: 5;
}

#mobileNavScreen{
    background-color: rgba(0,0,0,0.2);
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.header-fixed .header-limiter nav {
	font:2.25vh Arial, Helvetica, sans-serif;
	line-height: 12vh;
    margin-right: 5vw;
    display: inline-block;
    white-space: nowrap;
    z-index: 11;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
	opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
	color: #cca536;
	pointer-events: none;
	opacity: 1;
}

/* Fixed version of the header */

body.fixed .header-fixed {
	height: 7.5vh;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
    background-color: rgba(74,77,153, 0.9);
}

body.fixed .header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 3.5vh;
	line-height: 7.5vh;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 7.5vh;
	font-size: 2vh;
    text-align: right;
}

/* RESPONSIVE HEADER */

@media all and (max-width: 1000px) {
    body.fixed .header-fixed{
        height: 12vh;
    }
    
    
	.header-fixed .header-limiter h1 {
		text-align: center;
		font-size: 4vh;
		line-height: 12vh;
	}

	.header-fixed .header-limiter nav {
		display: none;
        position: fixed;
        top: 12vh;
        line-height: 2.25vh;
        width: 100%;
        z-index: 11;
        text-align: right;
	}
    
    .header-fixed .header-limiter nav a{
        display: block;
        padding: 2vh;
        background-color: gray;
        border-bottom: 1px solid black;
    }
    
    .header-fixed .header-limiter nav a:hover{
        background-color: darkgray;
    }
    
    #mobileNav {
		display: inline-block;
        line-height: 10vh;
        margin-right: 3vw;
        padding: 1vw;
        cursor: pointer;
	}
    
    #mobileNav img{
        height: 5vh;
    }
    
    body.fixed .header-fixed .header-limiter h1{
        line-height: 12vh;
    }
    
    body.fixed .header-fixed .header-limiter nav{
        display: none;
    }
    
    .flex-container {
        flex-wrap: wrap;
    }
    
    .indBox2 img{
        width: 100%;
    }
}

/* BEGINNING OF BODY */

body {
    background: #cca536;
	margin: 0;
	padding: 0;
	
    
}

/* HERO */

video {
    min-width: 100%;
    width: 100%;
}

#overlayWrapper{
    position: absolute;
    width: 100%;
    height: 55vw;
    z-index: 1;
}

.overlay{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 10%;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    width: 80%;
}

.overlay img{
    width: 100%;
    border-radius: 10px;
}

.hero2 {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 10%;
    width: 80%;
    height: 80%;
    font-family: sans-serif;
    display: flex;
    color: rgba(234,233,211,1);
    text-shadow: -1px -1px gray, 2px 2px black;
}

.heroinside {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    width: 80vw;
    flex-direction: column;
    text-align: center;
    font-family: Georgia;
    line-height: 5vh;
}

#heroTextWrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.heroinside h1 {
    font-size: 6vh;
}

.heroinside h2 {
    font-size: 5vh;
}

.heroinside h3 {
    font-size: 3vh;
}

.heroinside h4 {
    font-family: sans-serif;
    font-size: 2.5vh;
    margin-left: 20px;
}

.heroinside h5 {
    font-family: sans-serif;
    font-size: 2vh;
}

/* END OF HERO */


/* BEGINNING OF MAIN */

.main {
    margin-top: -20px;
    background: rgba(204,165,54,0.2);
}

.maininside {
    min-height: 43vh;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    background: rgba(255,255,255,0.9);
    padding: 20px;
}

.maininside2 {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    background: rgba(255,255,255,0.9);
    padding: 20px;
}

.mainInfo3 {
    padding-left: 325px;  

}

h5#gwTitle {
    width: 80vw;
}

h4#gw {
    width: 250px;
    margin-left: 865px;    
}

#headabout {
    width: 4;
    padding-left: 20px;
    font-family: Georgia;
}

#head3about {
    padding-left: 10px;
    font-family: Georgia;
    text-align: left;
}

#head h2 {
    
}

#headGW2 {
    padding-left: 10px;
    font-family: Georgia;
    text-align: center;
}

p {
    font-family: sans-serif;
    font-size: 16px;
    padding-right: 10px;
    padding-left: 10px;
}

img#aboutpage {
    
}

img#aboutpage2 {
    float: left;
}

img#event1 {
    float: left;
}

img#event2 {
    float: right;
}

i {
    text-decoration: underline;
}


@media only screen and (max-width: 1000px) {
    
    .maininside2 {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    img#aboutpage {
        width: 80%;
        height: 80%;
    }
    
    .main2 {
        display: block;
        margin-top: -700px;
        background: rgba(204,165,54,0.2);
    }
    
    h5#gwTitle {
        width: 80vw;
    }

    .heroinside #head, .heroinside #head2, .heroinside #head3{
        display: inline-block;
        padding-left: 1vw;
    }
    
    .heroinside #head, .heroinside #head2{
        font-size: 6vh;
    }
}


/* END OF BODY */


/* BEGINNING OF FLEXBOX */

.back2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(204,165,54,0.2);
    height: 100%;
    flex-wrap: wrap;
    
   
}

.back3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(204,165,54,0.2);
    height: 100%;
    flex-wrap: wrap;
    margin-top: 15px;
}

.flex-container {
    display: flex;
    background: rgba(204,165,54,0.2);
    height: 100%;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.indBox {
    flex: 1 1 auto;
    padding: 10px;
    margin: 10px;
    background-color: white;
    
}

.indBox2 {
    flex: 1 1 auto;
    padding: 10px;
    margin: 10px;
    background-color: white;
    text-align: center;
    justify-content: center;
}

#logoWrapper{
    text-align: center;
}

.image1 {
    max-width: 100%;
}

/* END OF FLEXBOX */


/* BEGINNING OF FOOTER */

.footer-distributed{
	background-color: #4a4d99;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px Georgia;
    padding: 55px 50px;
	
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px Georgia, Arial, Helvetica, sans-serif;
	margin: 0;
    text-shadow: 2px 2px #cca536;
}


.footer-distributed h3 span{
	color:  #cca536;
    text-shadow: 2px 2px white;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

footer a{
	color:  white;
	text-decoration: none;
}

footer a:hover{
	color:  white;
	text-decoration: underline;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}



.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about img{
    height: 80px;
    width: 180px;
	margin: 0px;
    margin-left: -2px;
}


.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
    text-decoration: none;
}

@media (max-width: 700px) {
    .heroinside h5{
        display: none;
    }
}

/* RESPONSIVE FOOTER */

@media (max-width: 1200px) {

    .header-fixed .header-limiter h1{
        margin-left: 1vw;
    }
    
    .header-fixed .header-limiter nav{
        margin-right: 1vw;
    }
    
	.footer-distributed{
		font: bold 14px Georgia;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

footer h3 {
    font-family: Georgia;
    font-size: 1.1em;
    text-shadow: 2px 2px #cca536;
}



footer {
        display: block;
        min-height: 100px;
        background: #4a4d99;
        color: white;
        font-family: Georgia;
        font-size: 1em;
        text-align: center;    
}

.joe{
    padding-left: 5vw;
}

.mainBox{
    margin-bottom: 5vh;
}

.indBox{
    text-align: center;
}
