body {
    margin: 0;
    background: white;
}

header {
    z-index: 3;
    position: absolute;
    width: 100%;
}

#logo {
    height: 15vh;
    margin-top: .3vh;
    margin-left: 1.5vw;
}

.wrapper {
    width: 100%;
    margin: 0 auto;     
}   

nav {
    background: #4a4d99;
}

nav ul {
    list-style-type: none;
    padding: 0;
    white-space: nowrap;
    align-items: center;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
    padding: 8px;
}

nav a:hover {
    background-color: #cca536;
}

a.fb {
    background: url(fb.png) no-repeat center;
    background-size: 50%;
    justify-content: flex-end;
}

.social a {
    text-indent: -1000px;
}

.social {
    max-width: 80px;
    margin: 0 auto;
}

nav ul.social{
    flex: 1 1 0;
    display: flex;
}

nav ul.social li{
    flex: 1 1 0;
}

@media screen and (min-width: 768px) {
    nav ul {
        display: inline-flex;
    }
    
    nav li {
        flex: 1 1 0;
    }
    
    nav {
        display: flex;
        justify-content: flex-start;
    }
    
    .social {
        margin: 0;
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
}

.text {
    z-index: 2;
    position: absolute;
//    background: rgba(0,0,0,0.4);
    top: 250px;
    bottom: 0;
    left: 400px;
    right: 0;
    font-family: serif;
    font-size: 10vmin;
    font-weight: 100;
    color: white;
}

.text2 {
    z-index: 2;
    position: absolute;
    top: 310px;
    bottom: 0;
    left: 590px;
    right: 0;
    font-family: serif;
    font-size: 6vmin;
    font-weight: 100;
    color: white;
}

.text3 {
    z-index: 2;
    position: absolute;
    top: 450px;
    bottom: 0;
    left: 331px;
    right: 100px;
    font-family: serif;
    font-size: 3vmin;
    font-weight: 100;
    color: white;
}

@media screen and (min-width: 768px) {
    video {
        display: inline-flex;
    }
    
    video {
        flex: 1 1 0;
    }
    
}


.content2 {
    background-color: yellow;  
    margin-top: 200px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #4a4d99;
    height: 300px;
}

.cell {
    width: 100px;
    height: 100px;
    padding: 50px;
    margin: 50px;
    background-color: green;
    text-align: center;
    align-items: flex-start;
}

.cell1 {
    width: 500px;
    height: 100px;
    padding: 50px;
    margin: 50px;
    background-color: green;
    text-align: center;
}

footer {
        display: block;
        margin: 4px;
        padding: 5px;
        min-height: 100px;
        border: 1px solid #eebb55;
        border-radius: 7pt;
        background: #ffeebb;
    }









