body {
    margin: 0;
    background: white;
}


#logo {
    height: 20vh;
    top: 0;
    position: absolute;
    left: 0;
    margin-left: 2vw;
}

.space {
    position: relative;
    width: 100%;
    height: 20vh;
    z-index: -1;
}

nav {
    width: 100%;
    height: 20vh;
    background: #4a4d99;
    position: fixed;
    top: 0;
    z-index: 3;
}

ul {
    display: flex;
    flex-grow: 1;
    list-style-type: none;
    margin-left: 8vw;
}

ul a {
    color: white;
    text-decoration: none;
    padding: 1.5vw;
    display: inline-flex;
    font-family: sans-serif;
    font-size: 1.1em;
    align-items: center;
    flex: 1 1 0;
    text-align: center;
    height: 10vh;
}

ul li:nth-of-type(1) {
    text-shadow: 2px 2px #cca536;
}




li a:hover {
    background-color: #cca536;
}

/*        social media icons*/

#fbox {
    display: inline-block;
    height: 70px;
    width: 70px;
    background-color: white;
    border: 2px solid #4a4d99;
    border-radius: 50px;
    color: black;
}
.fa-facebook {
    font-size: 2em;
    padding-left: 25px;
    line-height: 11vh;
}
#fbox:hover {
    background-color: rgb(59, 89, 152);
    color: white;
}
        /*        twitter icon*/
#tbox {
    display: inline-block;
    height: 70px;
    width: 70px;
    background-color: white;
    border: 2px solid #4a4d99;
    border-radius: 50px;
    color: black;
}
.fa-twitter {
    font-size: 2em;
    padding-left: 20px;
    line-height: 11vh;
}
#tbox:hover {
    background-color: rgb(0, 172, 237);
    color: white;
}

#social {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 4vh;
    margin-right: 3vw;
}
/*social media icons*/


#text {
    height: 60vh;
    width: 52vw;
    margin-top: 11vh;
    margin-left: 7vw;
    position: absolute;
    background: rgba(255,255,255,0.2);
    font-family: sans-serif;
    border-radius: 10px;
}

h1 {
    font-size: 3em;
    font-family: sans-serif;
    color: white;
    text-align: center;
    z-index: 1;
}

h2 {
    color: white;
    margin: 20px;
    margin-left: 450px;
    margin-top: -68px;
    
}

h3 {
    color: white;
    margin: 20px;
    margin-left: 20px;
    
}

#text2 {
    height: 60vh;
    width: 30vw;
    margin-top: 11vh;
    margin-left: 61vw;
    position: absolute;
    background: rgba(255,255,255,0.2);
    font-family: sans-serif;
    border-radius: 10px;
}

img { 
    height: 25vw;
    position: relative;
    left: 60px;
}

h1 {
    font-size: 3em;
    color: white;
    text-align: center;
    z-index: 1;
}

h2 {
    color: white;
}

h4 {
    color: white;
    margin: 10px;
    margin-top: -2px;
}
    
video {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: 1;
}


/*BEGINNING OF MAIN*/

#main {
    min-height: 800px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;
    margin-top: -6px;
    background-image: url("goldback.jpg");
    width: 100%;
}
 
#main > article {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    padding: 10px;
    background: #f9f4d4;
    border: groove;
    border-width: medium;
    box-shadow: 10px black;
    display: flex;
    flex-wrap: wrap;
}


.indBox {
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    flex: 1 1 auto;
}

h2#titleName {
    display: flex;
    width: 75%;
    color: black;
    margin-left: 25%;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin-top: 3%;
}

p#paraInfo {
    margin-top: 40px;
    width: 700px;
    margin-left: 25%;
    padding: 0px;
    font-family: serif;
    font-size: 1.3em;
}

#image1 {
    max-width: 100%;
    margin-left: -60px;
    float: left;
    padding: 10px;
}
 


h3#titleName {
    width: 75%;
    color: black;
    margin-left: 25%;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin-top: 15%
}

p#paraInfo2 {
    margin-top: 225px;
    width: 550px;
    margin-left: 40%;
    padding: 0px;
    font-family: serif;
    font-size: 1.1em;
}

p#paraInfo3 {
    margin-top: 450px;
    width: 900px;
    margin-left: 2.2%;
    padding: 0px;
    font-family: serif;
    font-size: 1.1em;
}

#image2 {
    max-width: 100%;
    margin-top: 200px;
    margin-left: -60px;
    float: left;
    padding: 10px;
}
p {
    margin-top: -100px;
    font-family: serif;
    font-size: 1.2em;
    padding: 20px;
}

/*END OF MAIN*/

/*footer starts here*/

.footer-distributed{
	background-color: #4a4d99;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
    padding: 55px 50px;
	
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
    font-family: sans-serif;
    font-size: 1.5em;
    text-shadow: 2px 2px #cca536;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}



.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about img{
    height: 80px;
    width: 180px;
	margin: 0px;
    margin-left: -60px;
}


.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
    text-decoration: none;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

footer h3 {
    font-family: sans-serif;
    font-size: 1.1em;
    text-shadow: 2px 2px #cca536;
}



footer {
        display: block;
        min-height: 100px;
        background: #4a4d99;
        color: white;
        font-family: sans-serif;
        font-size: 1em;
        text-align: center;    
}