body {
    margin: 0;
    background: white;
}


#logo {
    height: 20vh;
    top: 0;
    position: absolute;
    left: 0;
    margin-left: 2vw;
}

.space {
    position: relative;
    width: 100%;
    height: 20vh;
    z-index: -1;
}

nav {
    width: 100%;
    height: 20vh;
    background: #4a4d99;
    position: fixed;
    top: 0;
    z-index: 3;
}

ul {
    display: flex;
    flex-grow: 1;
    list-style-type: none;
    margin-left: 8vw;
}

ul a {
    color: white;
    text-decoration: none;
    padding: 1.5vw;
    display: inline-flex;
    font-family: sans-serif;
    font-size: 1.1em;
    align-items: center;
    flex: 1 1 0;
    text-align: center;
    height: 10vh;
}

ul li:nth-of-type(1) {
    text-shadow: 2px 2px #cca536;
}




li a:hover {
    background-color: #cca536;
}

/*        social media icons*/

#fbox {
    display: inline-block;
    height: 70px;
    width: 70px;
    background-color: white;
    border: 2px solid #4a4d99;
    border-radius: 50px;
    color: black;
}
.fa-facebook {
    font-size: 2em;
    padding-left: 25px;
    line-height: 11vh;
}
#fbox:hover {
    background-color: rgb(59, 89, 152);
    color: white;
}
        /*        twitter icon*/
#tbox {
    display: inline-block;
    height: 70px;
    width: 70px;
    background-color: white;
    border: 2px solid #4a4d99;
    border-radius: 50px;
    color: black;
}
.fa-twitter {
    font-size: 2em;
    padding-left: 20px;
    line-height: 11vh;
}
#tbox:hover {
    background-color: rgb(0, 172, 237);
    color: white;
}

#social {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 4vh;
    margin-right: 3vw;
}
/*social media icons*/


#text {
    height: 60vh;
    width: 52vw;
    margin-top: 11vh;
    margin-left: 7vw;
    position: absolute;
    background: rgba(255,255,255,0.2);
    font-family: sans-serif;
}

h1 {
    font-size: 3em;
    font-family: sans-serif;
    color: white;
    text-align: center;
    z-index: 1;
}

h3 {
    color: white;
    margin: 20px;
    margin-left: 20px;
    
}

#text2 {
    height: 60vh;
    width: 30vw;
    margin-top: 11vh;
    margin-left: 61vw;
    position: absolute;
    background: rgba(255,255,255,0.2);
    font-family: sans-serif;
}

img { 
    height: 25vw;
    position: relative;
    left: 60px;
}

h1 {
    font-size: 3em;
    color: white;
    text-align: center;
    z-index: 1;
}

h2 {
    color: white;
}

h4 {
    color: white;
    margin: 10px;
}
    
video {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: 1;
}

footer {
        display: block;
        min-height: 100px;
        background: #4a4d99;
}